extends baseEmail

block content
    p Hi #{firstName},
    p Forgot your password? Submit a PATCH request with your new "password" and "passswordConfirm" to #{url.split("/")[2]}/api/vi/users/resetPassword/#{url.split("/")[4]}

    a(href=`${url}`) Or Click Here To Reset Password from the user interface.
  
                                    
    p If you didn't forget your password, please ignore this email!!