extends base

block content 
    section.extrasContainer.animate__animated.animate__fadeIn.mh-100.w-100.text-center
        .my-4.p-3
            h1.extras-title.mb-5 About Us                
            p.extras-content In NATOURS We specialize in tours around the world with a wide range of offers. A business based in Boston has grown into a trusted resource that has helped tens of thousands of people better enjoy their travel, We take pride in offering clients unrivaled experiences. Since the beginning we have pledged to provide high-quality, affordable, full-fledged tour services which made our company one of the top competitors in the tourism industry. For 20 years we have enjoyed a close rapport with our clients to develop the highest standard of tours. By understanding the wants and needs of the people who travel with us, we have learned what a genuine tour should be.
