<!DOCTYPE html>
html.h-100(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            //- meta( http-equiv="Content-Security-Policy" content=" default-src 'self'; script-src https://js.stripe.com https://js.stripe.com/v3/; connect-src https://checkout.stripe.com https://api.stripe.com https://checkout.stripe.com;  frame-src https://js.stripe.com, https://hooks.stripe.com https://checkout.stripe.com; " )
            
            //- meta(http_equiv="Content-Security-Policy" 
            //- content="default-src 'self' https://js.stripe.com/; script-src 'self' https://js.stripe.com/v3/;  frame-src https://js.stripe.com/;")

            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;600&display=swap" rel="stylesheet"> 
            link(rel="stylesheet", href="/css/bootstrap5/css/bootstrap.min.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
            link(rel="stylesheet", href="/css/myStyles.css")
            link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
            title Natours | #{tittle}

    body.d-flex.flex-column.h-100
        include _header
      

        block content
            h1 base content

      
        include _footer


        block scripts    
            script(src="/css/bootstrap5/js/bootstrap.bundle.min.js")
            script(src="/js/dist/axios.min.js")
            script(src="/js/login.js")
            script(src="/js/signUp.js")
            script(src="/js/forgotPassword.js")
            script(src="/js/resetPassword.js")
            script(src="/js/review.js")
            script(src="/js/account.js")
           
        