extends base


block content
    .container 
        .row.animate__animated.animate__zoomInDown
            .col-md-8.col-lg-6.mx-auto.my-5
                .card
                    .card-header.pt-4.pb-3.text-center
                        p Log In
                    .card-body  
                        form.p-3.login-form#formLogin
                            article.mb-4
                                label.form-label(for="email" ) E-mail
                                input.form-control#email(type="email" required placeholder="yourEmail@example.com" name="email")
                            article.mb-5
                                label.form-label(for="password") Password
                                input.form-control#password(type="password" aria-describedby='passwordHelpBlock' required name="password" minlength=8)
                            button.btn Log In
                    .card-footer.py-3.login-card-footer
                        .d-flex.justify-content-center.mb-2
                            p.me-2 Don't have account? 
                            a(href="/signUp") Sign Up
                        .d-flex.justify-content-center
                            a(href="/forgotPassword") Forgot Password?
