extends base 


block content
    .container 
        .row.animate__animated.animate__zoomInDown
            .col-md-8.col-lg-6.mx-auto.my-5
                .card
                    .card-header.pt-4.pb-3.text-center
                        p Reset My Password
                    .card-body  
                        form.p-3.login-form#resetMyPasswordForm
                            article.mb-4
                                label.form-label(for="password" ) Password
                                input.form-control#password(type="password" required name="password")
                            article.mb-4
                                label.form-label(for="passwordConfirm" ) Confirm Password
                                input.form-control#passwordConfirm(type="password" required name="passwordConfirm")
                            p#resetToken.d-none= token
                            button.btn Reset Password     