
.jumbo {
	position: relative;
	height: 34vw;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
	clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
}

.jumbo-head{
	height: 100%;
}

.jumbo-image{
	-o-object-fit: cover;
	-moz-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
	-o-object-position: 50% 25%;
	object-position: 50% 25%;
}

.overlay{
	position: absolute;
	width: 100%;
  	height: 100%;
  	background-image: -webkit-gradient(
    	linear,
    	left top,
    	right bottom,
    	from(#7dd56f),
    	to(#28b487)
  	);
  	background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  	opacity: 0.85;
}


.tour-tittle{
	position: absolute;
	display: flex;
	flex-direction: column;
	color: white; 
	width: 100%;
	height: 100%;
	justify-content: center;
	text-align: center;
}

.tour-name{
	text-shadow: 1px 1px 5px #313131;
	font-size: 6em;
}

.tour-jumbo-data span{
	font-size: 26px;

}

.tour-jumbo-data svg{
	margin-right: 5px;
	align-items: center;
	margin-bottom: 6px;
}


.main-tittle{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
	color: #45c99f;
	text-shadow: 1px 1px 1px #747474;
}

.quick-facts div, .guide-name{
	font-size: 18px;
}


.bold{
	font-weight: bold;
	color: rgb(109, 109, 109);
	text-transform: uppercase;
}


main svg{
	margin-right: 10px;
	color: #28b487;
	font-size: 20px;
}



.user-photo{
	width: 40px;
	border-radius: 50%;
}


.tour-description{
	line-height: 35px;
	font-size: 20px;
}


.pictures-box{
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
	clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
}



/* Reviews */

.reviews{
	display: grid;
	grid-column-gap: 5rem;
	grid-auto-flow: column;
	overflow-x: scroll;
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
	background: -webkit-gradient(
		linear,
		left top,
		right bottom,
		from(#7dd56f),
		to(#28b487)
	  );
	  background: linear-gradient(to right bottom, #7dd56f, #28b487);
	  padding: 6em 0;
	  margin-bottom: 6rem !important;
	  
}
/* space at the beggining and the end */
.reviews:before,
.reviews:after {
  content: '';
  width: 2rem;
}

.reviews .card-header img{
	border-radius: 50%;
	width: 50px;
	margin-right: 7px;
}

.reviews .card-header span{
	text-transform: uppercase;
	
}

.reviews .card {
	width: 18rem;
	margin-right: 20px;
}

.reviews .card-header{
	background-color: white;

}

.reviews .card-body p{
	font-style: italic;
}

.reviews .card-footer {
	background-color: white;
}

.reviews .card-footer svg{
	color: green;
}

/* Call to accion */

.call-to-accion{
	width: 60%;
	box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.7);
	border-radius: 2%;
	margin-bottom: 6rem !important;
}

.call-tittle{
	text-transform: uppercase;
	font-size: 2em;
	color: #45c99f;
	font-weight: bold;
}

.call-description{
	font-size: 22px;
}


/* MEDIA */

@media (max-width: 650px) { 
	
	
	.tour-name{
		
		font-size: 2em;
	}

	.tour-jumbo-data span{
		font-size: 1em;
	
	}
	
	.tour-jumbo-data svg{
		margin-right: 5px;
		align-items: center;
		margin-bottom: 6px;
	}

	.quick-facts {
		padding-left: 10%;
		padding-right: 10%;
	}

	.quick-facts p{
		text-align: center;
	}

	.description-col > p{
		text-align: center;
	}

	
	.pictures-box{
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	}

	/* reviews */

	.call-to-accion{
		width: 80%;
	}


	.call-to-accion div{
		display: flex;
		flex-direction: column;
	}

	
	.call-tittle{
		font-size: 1.5em;
		font-weight: bold;
	}

	.call-description{
		font-size: 17px;
	}

	
	

}

@media screen and (max-width: 850px) and (min-width: 651px){
	
	.tour-name{
		
		font-size: 4em;
	}

	.tour-jumbo-data span{
		font-size: 2em;
	
	}
	
	.tour-jumbo-data svg{
		margin-right: 5px;
		align-items: center;
		margin-bottom: 6px;
	}
	

	.quick-facts p{
		text-align: center;
	}

	.pictures-box{
		-webkit-clip-path: polygon(0);
		clip-path: none;
	}

	/* reviews */

	.call-to-accion{
		width: 80%;
	}

}